@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&family=Tajawal:wght@400;700&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Tajawal", sans-serif;
  font-weight: 200 !important;
}

a, button, input, textarea, i {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
}
a:hover, a:focus {
  color: #6d5949 !important;
}

i {
  vertical-align: middle;
}
i:hover, i:focus {
  color: #fdb713;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #fdb713;
  border: 1px solid #fdb713;
}

::-webkit-scrollbar-thumb {
  background: #fdb713;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button:hover {
  transform: scale(0.9);
  border: 1px solid #fdb713 !important;
  background-color: #FFF !important;
  color: #fdb713 !important;
}

::-moz-selection {
  background: #fdb713;
  color: #FFF;
}

::selection {
  background: #fdb713;
  color: #FFF;
}

::-moz-selection {
  background: #fdb713;
  color: #FFF;
}

input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #fdb713;
  color: #fdb713;
  background-color: #FFF;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #fdb713;
  color: #fdb713;
  background-color: #FFF;
  font-size: 14px;
  resize: none;
  min-height: 210px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #fdb713;
  opacity: 1;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus, textarea:focus {
  border-color: #fdb713 !important;
}

.back {
  transform: translate(0) !important;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: initial;
  right: initial;
  left: 0;
  transform: translateX(100%);
  margin: auto;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay-section {
  position: absolute;
  top: 0px;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  background-color: #181F2A;
  opacity: 0.64;
}

.bg-img {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-color {
  color: #fdb713;
}

.second-color {
  color: #6d5949;
}

.bg-main-color {
  background-color: #fdb713;
}

.bg-second-color {
  background-color: #6d5949;
}

.loader {
  position: fixed;
  top: 0;
  bottom: initial;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  z-index: 99999;
}
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: var(--backRightIn);
  margin: auto;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  background: #FFF;
  width: 50%;
  height: 100%;
}
.loader::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: initial;
  left: 0;
  transform: var(--backLefttIn);
  margin: auto;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  background: #FFF;
  width: 50%;
  height: 100%;
}
.loader img {
  max-width: 100px;
  position: relative;
  z-index: 9;
}
.loader .spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  width: 60px;
  height: 60px;
  z-index: 9;
}
.loader .spinner .item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}
.loader .spinner .item.item-1 {
  background-color: #fdb713;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-2 {
  background-color: #6d5949;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-3 {
  background-color: #1B91F7;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-4 {
  background-color: #FAC24C;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
@keyframes item-1_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 30px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(30px, 0);
  }
}
@keyframes item-2_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-30px, 0);
  }
  50% {
    transform: translate(-30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
}
@keyframes item-3_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(-30px, -30px);
  }
  75% {
    transform: translate(-30px, 0);
  }
}
@keyframes item-4_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, -30px);
  }
  75% {
    transform: translate(0, -30px);
  }
}

.click-nav {
  position: fixed;
  top: initial;
  bottom: 0;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  display: none;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  width: 40px;
  justify-content: center;
  background-color: #fdb713;
  width: 60px;
  height: 60px;
  border-radius: 0 20px 0 0;
}
.click-nav .handle {
  background: #FFF;
  height: 1px;
  width: 40px;
  margin: 0.32em auto;
  transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}
.click-nav .closed {
  transform: rotate(45deg);
  width: 40px;
  position: relative;
  top: -5px;
}
.click-nav .closed:nth-of-type(2) {
  transform: rotate(-45deg);
}
.click-nav .closed:nth-of-type(3) {
  display: none;
}

.shap-font {
  margin-bottom: 40px;
}
.shap-font:after {
  content: "";
  position: absolute;
  top: initial;
  bottom: -15px;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  background-color: #fdb713;
  width: 70px;
  height: 3px;
  border-radius: 4px;
}

header {
  position: fixed;
  top: 0;
  bottom: initial;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  z-index: 999;
  width: 100%;
  padding: 10px 0;
}
header ul li {
  padding: 10px 0;
}
header ul li::after {
  content: "";
  position: absolute;
  top: -100px;
  bottom: initial;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: -1;
}
header ul li.active::after {
  top: 0px;
}
header ul li.active a {
  color: #fdb713 !important;
  font-weight: bold;
}
header ul li a {
  color: #FFF;
  position: relative;
  z-index: 9;
}
header .logo {
  max-width: 100px;
}
header.header-fixed {
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: slideDown 0.7s;
}
header.header-fixed ul li a {
  color: #fdb713 !important;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
header .lang {
  width: 40px;
  height: 40px;
}

.main-body-slider #sliderHome img {
  height: 900px;
}
.main-body-slider #sliderHome .overlay-fix {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-body-slider #sliderHome .overlay-fix .over-info {
  width: 600px;
}
.main-body-slider #sliderHome .overlay-fix .over-info h1 {
  font-size: 60px;
}
.main-body-slider #sliderHome .owl-item.active .over-info h1, .main-body-slider #sliderHome .owl-item.active .over-info a {
  transition: 1s;
  animation-name: translateInfo;
  animation-fill-mode: both;
}
.main-body-slider #sliderHome .owl-item.active .over-info h1 {
  animation-duration: 1s;
  animation-delay: 1s;
}
.main-body-slider #sliderHome .owl-item.active .over-info a {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
@keyframes translateInfo {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    visibility: initial;
    transform: translateY(0px);
  }
}
.main-body-slider svg {
  position: absolute;
  bottom: -45px;
  width: 100%;
  right: 0;
  z-index: 9;
}

.owl-dots {
  display: none;
}

.section-about .blocks-about .block-about {
  width: 240px;
  height: 240px;
  margin: 10px;
  transform: rotate(45deg);
}
.section-about .blocks-about .block-about .block-view {
  transform: rotate(-45deg);
  background-color: #FFF;
  width: 200px;
  height: 200px;
  padding: 2px;
}
.section-about .blocks-about .block-about .block-view p {
  font-size: 10px;
  margin-top: 0;
}
.section-about .blocks-about .block-about .block-view .ic-in {
  width: 60px;
  height: 60px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: auto;
}
.section-about .blocks-about .block-about .block-view .ic-in i {
  color: #fdb713;
  font-size: 30px;
}
.section-about .blocks-about .sec-block:nth-child(2) .block-about {
  position: relative;
  left: -80px;
}
.section-about .blocks-about .sec-block:nth-child(3) .block-about {
  position: relative;
  left: -30px;
}

.section-services .nav .nav-item button {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.section-services .nav .nav-item button .over-text {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  font-size: 21px;
}
.section-services .tab-content .tab-pane .block-tab {
  max-width: 800px;
  margin-top: 100px !important;
}
.section-services .tab-content .tab-pane .block-tab::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  width: 100%;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.section-services .tab-content .tab-pane .block-tab .img-tab {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  position: absolute;
  top: 35px;
  bottom: initial;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
}
.section-services .tab-content .tab-pane .block-tab .info-tab {
  z-index: 9;
}
.section-services .tab-content .tab-pane .block-tab .info-tab a {
  font-size: 12px;
}
.section-services .tab-content .tab-pane.active .block-tab::after {
  animation-name: translateBox;
  animation-fill-mode: both;
  animation-duration: 0.7s;
  animation-delay: 0.7s;
}
.section-services .tab-content .tab-pane.active .block-tab .img-tab {
  animation-name: translateBoxImg;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 1s;
}
.section-services .tab-content .tab-pane.active .block-tab .info-tab h4, .section-services .tab-content .tab-pane.active .block-tab .info-tab p, .section-services .tab-content .tab-pane.active .block-tab .info-tab a {
  animation-name: translateBoxInfo;
  animation-fill-mode: both;
}
.section-services .tab-content .tab-pane.active .block-tab .info-tab h4 {
  animation-duration: 1.3s;
  animation-delay: 1.3s;
}
.section-services .tab-content .tab-pane.active .block-tab .info-tab p {
  animation-duration: 1.6s;
  animation-delay: 1.6s;
}
.section-services .tab-content .tab-pane.active .block-tab .info-tab a {
  animation-duration: 1.9s;
  animation-delay: 1.9s;
}
@keyframes translateBox {
  from {
    opacity: 0;
    visibility: hidden;
    width: 0%;
  }
  to {
    opacity: 1;
    visibility: initial;
    width: 100%;
  }
}
@keyframes translateBoxImg {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    visibility: initial;
    transform: translateX(0px);
  }
}
@keyframes translateBoxInfo {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    visibility: initial;
    transform: translateY(0px);
  }
}

.section-clients .container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  border-bottom: 80px solid #fff;
  border-right: 80px solid #f1f1f1;
  width: 0;
  z-index: 9;
}
.section-clients .container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  border-top: 80px solid #fff;
  border-left: 80px solid #f1f1f1;
  width: 0;
  z-index: 9;
}
.section-clients .sliderClients {
  background-color: #f1f1f1;
}
.section-clients .sliderClients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  border-top: 80px solid #fff;
  border-right: 80px solid #f1f1f1;
  width: 0;
  z-index: 9;
}
.section-clients .sliderClients::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0px;
  border-bottom: 80px solid #fff;
  border-left: 80px solid #f1f1f1;
  width: 0;
}
.section-clients .sliderClients a {
  display: block;
}
.section-clients .sliderClients a img {
  width: 110px;
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.section-clients .sliderClients a img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.section-twiiter .over-twitter {
  height: 600px;
  overflow-y: auto;
}
.section-twiiter .over-twitter-in {
  height: 500px;
  overflow-y: auto;
}

.section-contact svg {
  position: absolute;
  bottom: -48px;
  right: 0;
}

footer {
  background-color: #f1f1f1;
}
footer .list-footer .lis-link-footer li {
  padding: 0 20px;
}
footer .list-footer .lis-link-footer li::after {
  content: "";
  position: absolute;
  top: 12px;
  bottom: initial;
  right: 5px;
  left: initial;
  transform: rotate(45deg);
  margin: auto;
  width: 7px;
  height: 7px;
  background-color: #fdb713;
}
footer .list-footer .lis-link-footer li a:hover {
  color: #fdb713 !important;
  transform: translateX(-10px);
}
footer .list-footer .socail li {
  width: 45px;
  height: 45px;
  border: 1px solid #fdb713;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
footer .list-footer .socail li a {
  width: 35px;
  height: 35px;
  background-color: #fdb713;
  border-radius: 50%;
}
footer .list-footer .socail li a i {
  font-size: 13px;
}
footer .list-footer .socail li:hover {
  background-color: #fdb713;
}
footer .list-footer .socail li:hover a {
  transform: scale(1.1);
}

.select2-container {
  min-width: 100%;
}

.select2-results__option {
  padding-right: 20px;
  vertical-align: middle;
}

.select2-results__option:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  background-color: #fff;
  margin-inline-end: 10px;
  vertical-align: middle;
}

.select2-results__option[aria-selected=true]:before {
  font-family: "icomoon";
  content: "\e900";
  color: #fff;
  background-color: #fdb713;
  border: 0;
  display: inline-block;
  padding: 0px 1px;
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 0 !important;
  margin-inline-end: 5px !important;
  font-weight: normal !important;
  font-size: 13px !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  border: 0 !important;
  padding: 5px 12px !important;
  align-items: center !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-inline-start: 10px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #eaeaeb;
  color: #272727;
}

.select2-container--default .select2-selection--multiple {
  margin-bottom: 0;
  border: 1px solid #fdb713;
  border-radius: 5px;
  height: 50px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #fdb713;
  border-width: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .click-nav {
    display: flex;
  }
  .click-nav .closed:nth-of-type(2) {
    margin: -6px;
  }
  .w-50, .w-75 {
    width: 100% !important;
  }
  header ul {
    flex-direction: column;
    width: 250px !important;
    height: 100%;
    background-color: #FFF;
    position: fixed;
    top: 0;
    bottom: initial;
    right: initial;
    left: initial;
    transform: initial;
    margin: auto;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    padding-top: 40px;
  }
  header ul li {
    margin: 20px 0;
    width: 100%;
  }
  header ul li a {
    font-weight: bold;
    color: #fdb713 !important;
  }
  header .drop-down ul {
    width: 100%;
  }
  header .drop-down ul li {
    margin: 0;
  }
  .main-body-slider #sliderHome .overlay-fix .over-info {
    width: 100%;
  }
  .main-body-slider #sliderHome .overlay-fix .over-info h1 {
    font-size: 40px;
  }
  .main-body-slider svg {
    bottom: -1px;
  }
  .section-about .blocks-about .block-about {
    width: 240px;
    height: 240px;
    transform: initial;
  }
  .section-about .blocks-about .block-about .block-view {
    transform: initial;
    width: auto;
    height: auto;
  }
  .section-about .blocks-about .sec-block:nth-child(2) .block-about {
    left: 0;
  }
  .section-about .blocks-about .sec-block:nth-child(3) .block-about {
    left: 0;
  }
  .section-services .nav .nav-item button {
    width: 110px;
    height: 110px;
  }
  .section-services .nav .nav-item button .over-text {
    font-size: 12px;
  }
  .section-services .tab-content .tab-pane .block-tab {
    max-width: 800px;
    padding: 15px 10px 15px 10px !important;
    margin-top: 100px !important;
    flex-direction: column;
    text-align: center;
  }
  .section-services .tab-content .tab-pane .block-tab .img-tab {
    position: relative;
    top: 0;
    right: 0 !important;
    margin-bottom: 20px;
  }
}
html[dir=rtl] body {
  direction: rtl;
  text-align: right;
}
html[dir=rtl] .click-nav {
  left: 0;
  border-radius: 0 20px 0 0;
}
html[dir=rtl] .shap-font:after {
  right: 0;
}
html[dir=rtl] .section-services .tab-content .tab-pane .block-tab {
  padding: 30px 85px 30px 10px;
}
html[dir=rtl] .section-services .tab-content .tab-pane .block-tab .img-tab {
  right: -55px;
}
@media screen and (max-width: 767px) {
  html[dir=rtl] header ul {
    transform: translateX(100%);
    right: 0;
  }
}

html[dir=ltr] body {
  direction: ltr;
  text-align: left;
}
html[dir=ltr] .click-nav {
  right: 0;
  border-radius: 20px 0 0;
}
html[dir=ltr] .shap-font:after {
  left: 0;
}
html[dir=ltr] .section-services .tab-content .tab-pane .block-tab {
  padding: 30px 10px 30px 85px;
}
html[dir=ltr] .section-services .tab-content .tab-pane .block-tab .img-tab {
  left: -55px;
}
@media screen and (max-width: 767px) {
  html[dir=ltr] header ul {
    transform: translateX(-100%);
    left: 0;
  }
}/*# sourceMappingURL=global.css.map */