// Dir RTL
html[dir=rtl] {
    body{
        direction: rtl;
        text-align: right;
    }
    // Click Nav
    .click-nav {
        left: 0;
        border-radius: 0 20px 0 0;
    }
    // Shap Font
    .shap-font{
        &:after {
            right: 0;
        }
    }
    // Services
    .section-services{
        .tab-content{
            .tab-pane{
                .block-tab{
                    padding: 30px 85px 30px 10px;
                    .img-tab{
                        right: -55px;
                    }
                }
            }
        }
    }
    // About
    .section-about{
        .blocks-about{
            .sec-block{
                &:nth-child(2){
                    .block-about{
                        position: relative;
                        left: -80px;
                    }
                }
                &:nth-child(3){
                    .block-about{
                        position: relative;
                        left: -30px;
                    }
                }
            }
        }
    }
    // Fix Up
    .fix-up{
        right: 30px;
    }
    // Footer
    footer{
        .list-footer{
            .lis-link-footer{
                li{
                    &::after{
                        right: 5px;
                    }
                    a{
                        &:hover{
                            transform: translateX(-10px);
                        }
                    }
                }
            }
        }
    }
    .select2-results__option:before {
        margin-inline-end: 10px;
    }
    // Media Mobile
    @media screen and (max-width: 767px){
        // Header
        header{
            ul{
                transform: translateX(100%);
                right: 0;
            }
        }
    }
}

// Dir LTR
html[dir=ltr] {
    body{
        direction: ltr;
        text-align: left;
    }
    // Click Nav
    .click-nav {
        right: 0;
        border-radius: 20px 0 0;
    }
    // Shap Font
    .shap-font{
        &:after {
            left: 0;
        }
    }
    // Fix Up
    .fix-up{
        left: 30px;
    }
    // Services
    .section-services{
        .tab-content{
            .tab-pane{
                .block-tab{
                    padding: 30px 10px 30px 85px;
                    .img-tab{
                        left: -55px;
                    }
                }
            }
        }
    }
    // About
    .section-about{
        .blocks-about{
            .sec-block{
                &:nth-child(2){
                    .block-about{
                        right: -80px;
                    }
                }
                &:nth-child(3){
                    .block-about{
                        right: -30px;
                    }
                }
            }
        }
    }
    // Footer
    footer{
        .list-footer{
            .lis-link-footer{
                li{
                    &::after{
                        left: 5px;
                    }
                }
                a{
                    &:hover{
                        transform: translateX(10px);
                    }
                }
            }
        }
    }
    .select2-container .select2-search--inline .select2-search__field{
        text-align: left;
    }
    .select2-results__option {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .select2-results__option:before {
        margin-inline-start: 10px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        flex-direction: row-reverse;
    }
    .select2-results__option[aria-selected=true]:before {
        padding: 0px 2px;
    }
    // Media Mobile
    @media screen and (max-width: 767px){
        // Header
        header{
            ul{
                transform: translateX(-100%);
                left: 0;
            }
        }
    }
}