@media screen and (max-width: 767px){

    // Style Click Nav
    .click-nav{
        display: flex;
        .closed {
            &:nth-of-type(2) {
                margin: -6px;
            }
        }
    }

    .w-50, .w-75{
        width: 100% !important;
    }

    // Header
    header{
        ul{
            flex-direction: column;
            width: 250px !important;
            height: 100%;
            background-color: $white;
            @include positionItem(fixed, 0, initial, initial, initial, initial);
            @include transition(0.5s);
            padding-top: 40px;
            li{
                margin: 20px 0;
                width: 100%;
                a{
                    font-weight: bold;
                    color: $main !important;
                }
            }
        }
        .drop-down{
            ul{    
                width: 100%;
                li{
                    margin: 0;
                }
            }
        }
    }
    
    // Slider Home
    .main-body-slider{
        #sliderHome{
            .overlay-fix {
                .over-info{
                    width: 100%;
                    h1{
                        font-size: 40px;
                    }
                }
            }
        }
        svg{
            bottom: -1px;
        }
    }

    // About
    .section-about{
        .blocks-about{
            .block-about{
                width: 240px;
                height: 240px;
                transform: initial;
                .block-view{
                    transform: initial;
                    width: auto;
                    height: auto;
                }
            }
            .sec-block{
                &:nth-child(2){
                    .block-about{
                        left: 0;
                    }
                }
                &:nth-child(3){
                    .block-about{
                        left: 0;
                    }
                }
            }
        }
    }

    // Services
    .section-services{
        .nav{
            .nav-item{
                button{
                    width: 110px;
                    height: 110px;
                    .over-text{
                        font-size: 12px;
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                .block-tab{
                    max-width: 800px;
                    padding: 15px 10px 15px 10px !important;
                    margin-top: 100px !important;
                    flex-direction: column;
                    text-align: center;
                    .img-tab{
                        position: relative;
                        top: 0;
                        right: 0 !important;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

}